<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.pmadvisor.pms.mapper.BoardMapper">

	<!-- mybatis-config.xml 의 typeAliases 적용하면 -->
	<!-- kr.pmadvisor.pms.domain 생략가능!! -->
	<select id="getList" resultType="BoardVO">
	  <![CDATA[   
	  	select * from tbl_board where bno > 0
	  ]]>
	</select>

	<insert id="insert">
	  <![CDATA[
	  	insert into tbl_board ( title, content, writer )
	  	values( #{title},#{content},#{writer})  
	  ]]>
	</insert>

	<select id="read" resultType="BoardVO">
		select * from tbl_board where bno =
		#{bno}
	</select>

	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>

	<update id="update">
		update tbl_board
		set title=#{title},
		content=#{content}, writer=#{writer},
		updateDate=now()
		where bno=#{bno}
	</update>

	<!-- page 처리 : 기존책 p249 -->
	<select id="listPage" resultType="BoardVO">
	  <![CDATA[
	  	select bno, title, content, writer, regdate, updatedate
		from tbl_board
		where bno > 0
		order by bno desc
		limit #{page}, 10;
	  ]]>
	</select>
	
	<!-- getListWithPaging : 개정판 p294 -->
	<!-- order by 성능 개선 방법 고려 하여 regdate desc 제외 -->
	<select id="getListWithPaging" resultType="BoardVO">
		<![CDATA[
			select 	bno, title, content, writer, regdate, updatedate
			from	tbl_board
		]]>
		<include refid="criteria"></include>
		<![CDATA[
			order by bno desc
			limit #{rowStart}, #{perPageNum}
		]]>	
	</select>
	
	
	<!-- 전체 데이터의 개수 처리 ... 개정판 p322 -->
	<!-- 성능을 고랴하여 where bno > 0 삭제 -->
	<select id="getTotalCount" resultType="int">
		<![CDATA[
			select count(*) from tbl_board 
		]]>
		<include refid="criteria"></include>		
	</select>
	
	<!-- 다중 항목 조건문 작성 : p335 -->
	<sql id="criteria">
		<trim prefix='where' prefixOverrides = "OR">
			<foreach item='type' collection='typeArr'>
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like CONCAT('%',#{keyword},'%')
						</when>
						<when test="type == 'C'.toString()">
							content like  CONCAT('%',#{keyword},'%')
						</when>
						<when test="type == 'W'.toString()">
							writer like  CONCAT('%',#{keyword},'%')
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
</mapper>